h2{
    color: #B67800;   
}

.rating{
    color: #B67800;   
}

.description {
    text-transform: none;
    line-height:150%;
  }

  .card{
    box-shadow: 0 0 1em rgba($color: #333333, $alpha: 0.1);
    border-color: rgba($color: #B67800, $alpha: .0);
    border-radius: 5px;
    padding: 2em;
    margin-bottom: 2em;
}

.cover {
    object-fit: cover;
    width: 300px;
    height: 200px;

  }

.info, .photos {
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    margin: 0;
}

.info{
    padding: 1em 1em 0 1em;
}