<loader *ngIf="loading"></loader>
<div *ngIf="!loading" class="container">
    <div *ngIf="route != null" class="row justify-content-center ">
        <div class="block col-12 col-md-9 col-lg-6">
            <h2 class="title text-center">{{route.title}}</h2>
            <div class="row justify-content-center mt-3">
                <div class="col-5 rating">
                    Общий рейтинг
                </div>
                <div class="col">
                    <ngb-rating class="text-warning" [(rate)]="route.average_rate" [readonly]="true"></ngb-rating>
                </div>
                <div class="offset-1" style="color:darkgray">{{route.rating_count}}</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5 rating">
                    Удобство
                </div>
                <div class="col">
                    <ngb-rating class="text-warning" [(rate)]="route.comfort_rate" [readonly]="true"></ngb-rating>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5 rating">
                    Соответствие описанию
                </div>
                <div class="col">
                    <ngb-rating class="text-warning" [(rate)]="route.description_rate" [readonly]="true"></ngb-rating>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-5 rating">
                    Интересность
                </div>
                <div class="col">
                    <ngb-rating class="text-warning" [(rate)]="route.interest_rate" [readonly]="true"></ngb-rating>
                </div>
            </div>
            <h3 class="description text-center">
                {{route.description}}
            </h3>
            <hr>
            <h4 class="city text-center">{{route.city}}</h4>
            <h4 class="time text-center">{{route.passage_time}} ч.</h4>
            <div class="row justify-content-center" *ngIf="tags.size > 0">
                <div *ngFor="let tag of route.tags" class="col-auto">
                    <button id="{{tag}}_place" type="button" triggers="mouseenter:mouseleave"
                        ngbPopover="{{tags.get(tag).title}}" class="btn btn-sm"
                        style="font-size: 11px; text-transform: uppercase;">{{tags.get(tag).title_ru}}</button>
                </div>
            </div>
            <br>
        </div>

        <div *ngFor="let place of route.places; let i=index" class="block col-12 col-md-9 card">
            <div class="container">
                <div class="row">

                    <div class="block col-12 col-md-4 photos">
                        <!--  СЛАЙДЕР-->
                        <div attr.id="carousel_{{place.uid}}" class="carousel slide carousel-fade" style="margin:0;">
                            <div class="carousel-inner">
                                <div class="carousel-item" *ngFor="let photo of place.photos; let j = index"
                                    attr.name="{{j}}">
                                    <img *ngIf="photo != ''" class="img-fluid cover" src="{{photo}}">
                                    <img *ngIf="photo == ''" class="img-fluid cover" src="assets/no-photography.jpg">
                                </div>
                            </div>
                            <!-- Элементы управления -->
                            <a class="carousel-control-prev" attr.href="#carousel_{{place.uid}}" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Предыдущий</span>
                            </a>
                            <a class="carousel-control-next" attr.href="#carousel_{{place.uid}}" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Следующий</span>
                            </a>
                        </div>
                    </div>

                    <div class="block col-12 col-md-8 info text-center">
                        <div class="block ">

                            <h3 style="text-transform: none;">{{i + 1}}. {{place.title}}</h3>
                            <h4 class="text-left" style="text-transform: none;"><b>Адрес:</b> {{place.address}}</h4>
                            <h4 class="description text-left">{{place.description}}</h4>

                        </div>
                    </div>
                </div>

            </div>


        </div>


        <!-- карта -->
        <br>
        <!-- карта -->
    </div>

    <div *ngIf="placeInfo != null" class="row justify-content-center">
        <div class="block col-12 col-md-9 col-lg-6">
            <div class="block text-center">
                <h2 style="text-transform: none;">{{placeInfo.title}}</h2>
                <div class="row justify-content-center mt-3">
                    <div class="col-5 text-left rating">
                        Общий рейтинг
                    </div>
                    <div class="col">
                        <ngb-rating class="text-warning" [(rate)]="placeInfo.average_rate" [readonly]="true"></ngb-rating>
                    </div>
                    <div class="offset-1" style="color:darkgray">{{placeInfo.rating_count}}</div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5 text-left rating">
                        Удобство
                    </div>
                    <div class="col">
                        <ngb-rating class="text-warning" [(rate)]="placeInfo.comfort_rate" [readonly]="true"></ngb-rating>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5 text-left rating">
                        Соответствие описанию
                    </div>
                    <div class="col">
                        <ngb-rating class="text-warning" [(rate)]="placeInfo.description_rate" [readonly]="true"></ngb-rating>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-5 text-left rating">
                        Интересность
                    </div>
                    <div class="col">
                        <ngb-rating class="text-warning" [(rate)]="placeInfo.interest_rate" [readonly]="true"></ngb-rating>
                    </div>
                </div>
                <h4 style="text-transform: none;">Адрес: {{placeInfo.address}}</h4>
                
                <div class="row justify-content-center" *ngIf="tags.size > 0">
                    <div *ngFor="let tag of placeInfo.tags" class="col-auto">
                        <button id="{{tag}}_place" type="button" triggers="mouseenter:mouseleave"
                            ngbPopover="{{tags.get(tag).title}}" class="btn btn-sm"
                            style="font-size: 11px; text-transform: uppercase;">{{tags.get(tag).title_ru}}</button>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="block col-12 col-md-9 card">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 photos">
                        <!--  СЛАЙДЕР-->
                        <div attr.id="carousel_{{placeInfo.uid}}" class="carousel slide carousel-fade" style="margin:0;">
                            <div class="carousel-inner">
                                <div class="carousel-item" *ngFor="let photo of placeInfo.photos; let j = index" attr.name="{{j}}">
                                    <img *ngIf="photo != ''" class="img-fluid cover" src="{{photo}}">
                                    <img *ngIf="photo == ''" class="img-fluid cover" src="assets/no-photography.jpg">
                                </div>
                            </div>
                            <!-- Элементы управления -->
                            <a class="carousel-control-prev" attr.href="#carousel_{{placeInfo.uid}}" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Предыдущий</span>
                            </a>
                            <a class="carousel-control-next" attr.href="#carousel_{{placeInfo.uid}}" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Следующий</span>
                            </a>
                        </div>
                    </div>
                    <div class="block col-12 col-md-8 info text-center">
                        <div class="block">
                            <h4 style="text-transform: none;"></h4>
                            <h4 class="description text-left">{{placeInfo.description}}</h4>
                        </div>
                    </div>
                    
                </div>
                <br>
            </div>
        </div>

        



    </div>

    <div *ngIf="!loading" class="block form-group row justify-content-center mt-3">
        <map-block [width]="300" [height]="500" [markers]="markers"></map-block>
    </div>

    <div *ngIf="sessionService.isLoggedIn()" class="row justify-content-center">
        <div class="container col-8 col-md-6 col-lg-4" style="margin-bottom: 4em;">
            <div class="row justify-content-center">

                <div class="block" style="margin: 0.3em;">
                    <button type="button" class="btn btn-warning" style="color: white;" (click)="openModal(rate)">
                        <i class="fas fa-star"></i> ОЦЕНИТЬ
                    </button>
                </div>

                <div class="block" style="margin: 0.3em;">
                    <button type="button" [disabled]="saveLoad" class="btn btn-info" (click)="addToFavorite()">
                        <i class="fas fa-heart"></i> СОХРАНИТЬ <span *ngIf="saveLoad"
                            class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #rate let-modal>
    <div class="modal-header">
        <h3 class="modal-title" style="font-weight: bolder;" id="modal-basic-title">Оценивание места</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row justify-content-center">
            <div class="col-5 rating">
                Удобство
            </div>
            <div class="col">
                <ngb-rating class="text-warning" [(rate)]="comfort_rate" [readonly]="comfortRateLoading"></ngb-rating>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5 rating">
                Соответствие описанию
            </div>
            <div class="col">
                <ngb-rating class="text-warning" [(rate)]="description_rate" [readonly]="descriptionRateLoading"></ngb-rating>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-5 rating">
                Интересность
            </div>
            <div class="col">
                <ngb-rating class="text-warning" [(rate)]="interest_rate" [readonly]="interestRateLoading"></ngb-rating>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="descriptionRateLoading || interestRateLoading ||comfortRateLoading"
            (click)="sendRate()" class="btn btn-outline-success">Оценить
            <span *ngIf="descriptionRateLoading || interestRateLoading ||comfortRateLoading"
                class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
    </div>
</ng-template>