<div *ngFor="let place of myPlaces" class="card text-center">
  <h4 class="class text-center">Место</h4>
  <h2 class="title text-center">{{place.title}}</h2>

  <div attr.id="carousel_{{place.uid}}" class="carousel slide carousel-fade" data-ride="carousel"
    style="margin-bottom: 2em; margin-top: 2em;">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let photo of place.photos; let i = index" attr.name="{{i}}">
        <img *ngIf="photo != ''" class="img-fluid cover" src="{{photo}}">
        <img *ngIf="photo == ''" class="img-fluid cover" src="assets/no-photography.jpg">
      </div>
    </div>
    <!-- Элементы управления -->
    <a class="carousel-control-prev" attr.href="#carousel_{{place.uid}}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Предыдущий</span>
    </a>
    <a class="carousel-control-next" attr.href="#carousel_{{place.uid}}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Следующий</span>
    </a>
  </div>

  <h4 class="description text-left">
    {{place.description}}
  </h4>

  <button type="button" class="btn btn-info" (click)='redirect(place, "Место")'>Подробнее</button>
</div>

<div *ngFor="let place of myRoutes" class="card text-center">
  <h4 class="class text-center">Маршрут</h4>
  <h2 class="title text-center">{{place.title}}</h2>
  <h3 class="city text-center">{{place.city}}</h3>
  <h4 class="time text-center">{{place.passage_time}} часа</h4>

  <div attr.id="carousel_{{place.uid}}" class="carousel slide carousel-fade" data-ride="carousel"
    style="margin-bottom: 2em; margin-top: 2em;">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let photo of place.photos; let i = index" attr.name="{{i}}">
        <img *ngIf="photo != ''" class="img-fluid cover" src="{{photo}}">
        <img *ngIf="photo == ''" class="img-fluid cover" src="assets/no-photography.jpg">
      </div>
    </div>
    <!-- Элементы управления -->
    <a class="carousel-control-prev" attr.href="#carousel_{{place.uid}}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Предыдущий</span>
    </a>
    <a class="carousel-control-next" attr.href="#carousel_{{place.uid}}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Следующий</span>
    </a>
  </div>

  <h4 class="description text-left">
    {{place.description}}
  </h4>

  <button type="button" class="btn btn-info" (click)='redirect(place, "Маршрут")'>Подробнее</button>
</div>