h2{
    color: #B67800;   
}

label{
    opacity: 0.7;
    color: #B67800;
    font-size: 18px;
    text-transform: uppercase;
}

input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #B67800;
}

select{
    color: #B67800;
    opacity: 0.7;
}


.card{
    box-shadow: 0 0 1em rgba($color: #333333, $alpha: 0.1);
    border-color: rgba($color: #B67800, $alpha: .0);
    border-radius: 5px;
    padding: 2em;
    margin-bottom: 2em;
}

.info, .photos {
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    margin: 0;
}

