<loader *ngIf="loading"></loader>
<div *ngIf="!loading" class="container">
  <div class="row justify-content-center">
    <div class="block col-8">
      <h2 class="title text-center">СОЗДАНИЕ МАРШРУТА</h2>
    </div>

    <form [formGroup]="routeForm" class="block col-12 col-md-9 justify-content-center"
      style="margin-top: 2em; margin-bottom: 2em;" (ngSubmit)="createRoute()">
      <div class="block form-group">
        <label for="exampleFormControlTextarea1">Название</label>
        <textarea formControlName="titleInput" class="form-control" id="exampleFormControlTextarea1"
          rows="1"></textarea>
      </div>

      <div class="block form-group">
        <label for="exampleFormControlTextarea1">Город</label>
        <input formControlName="cityInput" id="typeahead-basic" type="text" class="form-control"
          [ngbTypeahead]="search" />
      </div>

      <div class="block form-group ">
        <label for="exampleFormControlTextarea1">Описание</label>
        <textarea formControlName="describeInput" class="form-control" id="exampleFormControlTextarea1"
          rows="3"></textarea>
      </div>

      <div class="block form-group ">
        <label for="exampleFormControlTextarea1">Выбрать теги</label>
        <div class="row">
          <div *ngFor="let tag of tags" class="col-auto">
            <button id="{{tag.uid}}" type="button" triggers="mouseenter:mouseleave" ngbPopover="{{tag.title}}"
              class="btn btn-lg " (click)="selectTag(tag)"
              style="font-size: 11px; text-transform: uppercase; margin-bottom: 0.5em;">{{tag.title_ru}}</button>
          </div>
          <div class="col-12">
            <button type="button" class="btn btn-link" (click)="addNewTag(tagCreation)"
              >Добавить свой тег</button>
          </div>
        </div>
      </div>

      <div class="block form-group ">
        <label for="exampleFormControlTextarea1">ДЛИТЕЛЬНОСТЬ МАРШРУТА В ЧАСАХ</label>
        <div class="container">
          <div class="row justify-content-center">
            <input type="text" class="form-control" formControlName="passageTimeInput"
              style="width: 60px; margin-right: 0.5em; font-size: 14px; color: #B67800!important; opacity: 0.7;">
          </div>
        </div>
      </div>
      <br>
      <h2 class="title text-center" style="margin-bottom: 1em;">ДОБАВЬТЕ МЕСТА</h2>

      <div class="block card" *ngFor="let selectPlace of selectPlaces">
        <div class="container">
          <div class="row " >
              <div class="block col-12 col-md-6 photos">
                      <div attr.id="carousel_{{selectPlace.uid}}" class="carousel slide carousel-fade" data-ride="carousel"
                        style="margin-bottom: 2em; margin-top: 2em;">
                        <div class="carousel-inner">
                          <div class="carousel-item" *ngFor="let photo of selectPlace.photos; let i = index"
                            attr.name="{{i}}">
                            <img *ngIf="photo != ''" class="img-fluid cover" src="{{photo}}">
                            <img *ngIf="photo == ''" class="img-fluid cover" src="assets/no-photography.jpg">
                          </div>
                        </div>
                        <!-- Элементы управления -->
                        <a class="carousel-control-prev" attr.href="#carousel_{{selectPlace.uid}}" role="button"
                          data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Предыдущий</span>
                        </a>
                        <a class="carousel-control-next" attr.href="#carousel_{{selectPlace.uid}}" role="button"
                          data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Следующий</span>
                        </a>
                      </div>
              </div>
              <div class="block col-12 col-md-6 info text-center">
                <div class="block">
                  <h3 style="text-transform: none;">{{selectPlace.title}}</h3>
                  <h4 style="text-transform: none;">Адрес: {{selectPlace.address}}</h4>
                </div>
              </div>
            <div class="block col-12 text-center" style="margin-top: 0.5em;">
              <button type="button" class="btn btn-danger" (click)="remove(selectPlace)" style="color: white;">
                <i class="fas fa-close"></i> Удалить
              </button>
            </div>
          </div>
        </div>
    </div>


      <div class="dropdown text-center">
        <button class="btn btn-warning" style="color: white;" type="button" (click)="openModal(addPlaces)">
          Добавить место
        </button>
      </div>

      <div class="block form-group row justify-content-center mt-3">
        <map-block [width]="300" [height]="500" [lat]="latitude" [lng]="longitude" [markers]="markers"></map-block>
      </div>

      <div class="block form-group " >
        <label class="justify-content-left">Добавить фото</label>
        <input-file-block (uploadFile)="uploadFile($event)"></input-file-block>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-3" *ngFor="let photo of photos">
          <div class="card">
            <img src="{{photo}}" class="card-img-top">
          </div>
        </div>
      </div>
      <div class="block text-center" style="margin: 0.3em; margin-bottom: 4em; margin-top: 1em;">
        <button type="submit" class="btn btn-info"
          [disabled]="routeForm.invalid || loadData || selectPlaces.length == 0">
          СОЗДАТЬ МАРШРУТ <span *ngIf="loadData" class="spinner-border spinner-border-sm" role="status"
            aria-hidden="true"></span>
        </button>
      </div>
    </form>

  </div>
</div>

<ng-template #tagCreation let-modal>
  <div class="modal-header">
    <h3 class="modal-title" style="font-weight: bold;" id="modal-basic-title">Добавление тега</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="tagForm" class="col" novalidate (ngSubmit)="createTag()">
    <div class="modal-body">
      <div class="row">
        <label class="form-label">Название</label>
        <input class="form-control" formControlName="titleInput">
      </div>
      <div class="row">
        <label class="form-label">Название на английском</label>
        <input class="form-control" placeholder="Заполняется по желанию" formControlName="titleEngInput">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="tagForm.invalid || loadingTag" class="btn btn-outline-success">Добавить
        <span *ngIf="loadingTag" class="spinner-border spinner-border-sm" role="status"
          aria-hidden="true"></span></button>
    </div>
  </form>
</ng-template>

<ng-template #addPlaces let-modal>
  <div class="modal-header">
    <h3 class="modal-title" style="font-weight: bold;" id="exampleModalLabel">Места</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <loader *ngIf="loadPlaces"></loader>
    <ng-container *ngIf="!loadPlaces">
      <div *ngFor="let place of places">
        <div class="card text-center">
          <h2 style="text-transform: none;" class="title text-center">{{place.title}}</h2>
          <h3 style="text-transform: none;" class="city text-center">Адрес: {{place.address}}</h3>
          <h4 class="time text-center">{{place.passage_time}}</h4>
          <div attr.id="carousel_{{place.uid}}" class="carousel slide carousel-fade" data-ride="carousel"
            style="margin-bottom: 2em; margin-top: 2em;">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let photo of place.photos; let i = index" attr.name="{{i}}">
                <img *ngIf="photo != ''" class="img-fluid cover" src="{{photo}}">
                <img *ngIf="photo == ''" class="img-fluid cover" src="assets/no-photography.jpg">
              </div>
            </div>
            <a class="carousel-control-prev" attr.href="#carousel_{{place.uid}}" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Предыдущий</span>
            </a>
            <a class="carousel-control-next" attr.href="#carousel_{{place.uid}}" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Следующий</span>
            </a>
          </div>
          <br>
          <button type="button" class="btn btn-info btn-lg" (click)="select(place)">Выбрать</button>
          <br>
        </div>
      </div>
    </ng-container>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">Закрыть</button>
  </div>
</ng-template>