<div class="input-group">
    <div class="custom-file">
        <input type="file" (change)="getBase64($event)" class="custom-file-input" id="inputGroupFile04"
            aria-describedby="inputGroupFileAddon04" accept="image/*">
        <label class="custom-file-label" data-browse="Обзор" for="inputGroupFile04">{{name}}</label>
    </div>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" (click)="sendImage()"
            [disabled]="loading || fileNull">Добавить <span *ngIf="loading" class="spinner-grow spinner-grow-sm"
                role="status" aria-hidden="true"></span></button>
    </div>
</div>