<div class="row">
    <div class="col-6">
        <input-file-block></input-file-block>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row justify-content-center">
            <h3>Добавление мест на карту</h3>
        </div>
    </div>
    <br>
    <br>
    <div class="col-md-auto">
        <div class="row justify-content-center">
            <map-block [width]="600" [height]="600" [lat]="latitude" [lng]="longitude" [markers]="markers"
                (changeArrayOfMarkers)="changeMarkers($event)"></map-block>
        </div>
    </div>
    <div class="col">
        <div class="row justify-content-center">
            <h3>Места</h3>
        </div>
        <div class="row" *ngFor="let marker of markers">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        Название: {{marker.title}}
                    </div>
                    <div class="row">
                        Описание: {{marker.info}}
                    </div>
                    <div class="row">
                        <div class="col-md-auto">Координаты: {{marker.lat}} {{marker.lng}}</div>
                        <div class="col-md-auto" *ngIf="marker.lat !== 'NaN' && marker.draggable"
                            (click)="aprovePlace(marker)"> + </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button *ngIf="!addPlaceFlag" type="button" class="btn btn-link" (click)="addPlace()">Добавить
                место</button>
        </div>
    </div>
</div>