<layout></layout>

<div class="container" style="position: relative;">
    <toast-block aria-live="polite" aria-atomic="true" style="position: absolute;"></toast-block>
    <router-outlet></router-outlet>
</div>