.nav-link{
    font-family: Verdana;
    font-size: 18px;
    color: rgba(182, 120, 0, 0.44);
    letter-spacing: 0.2ch;
}


.active{
    .nav-link{
        color:rgba(182, 120, 0, 0.7);
        border-bottom: 2px solid rgba(182, 120, 0, 0.44);
    
    }
}
.navbar-brand{
    width: 2em;
    height: 1.6em;
    background: #FFE661;
    opacity: 0.8;
    margin: 0.5em;
    border-radius: 100%;
    text-align: center;
    color: #EEC800;
    font-family: Rakkas;
    font-size: 36px;
    line-height: 54px;
}

.dropdown-item{
    color: rgba(182, 120, 0, 0.44);
    letter-spacing: 0.2ch;

}