<nav class="navbar navbar-expand-lg no-background">
  <a class="navbar-brand" href="#">N</a>
  <button class="navbar-toggler navbar-light " type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/home">О НАС </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/search">ПОИСК</a>
      </li>
      <li *isLogin class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          СОЗДАТЬ
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/create-place">НОВОЕ МЕСТО</a>
          <a class="dropdown-item" routerLink="/create-route">НОВЫЙ МАРШРУТ</a>
        </div>
      </li>
      <li *isLogin class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/profile">ПРОФИЛЬ</a>
      </li>
      <li *login class="nav-item">
        <a class="nav-link" routerLink="/login">ВХОД</a>
      </li>
      <li *isLogin class="nav-item">
        <a class="nav-link" routerLink="/exit">ВЫХОД</a>
      </li>
    </ul>
  </div>
</nav>