<div class="container ">
  <div class="row justify-content-center justify-content-md-start">

    <form class="block col-8 col-md-4 col-lg-3">
      <form [formGroup]="typeOfPlace">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="type">
          <label ngbButtonLabel class="btn-warning">
            <input ngbButton type="radio" value="route">Маршрут
          </label>
          <label ngbButtonLabel class="btn-warning">
            <input ngbButton type="radio" value="place">Место
          </label>
        </div>
      </form>

      <div class="col-md-auto">
        <h3 class="form-label text-center">Выводить по:</h3>
        <ngb-pagination [collectionSize]="50" [(page)]="pageOutputs" aria-label="Custom pagination"
          (pageChange)="ChangeOutput($event)" [directionLinks]="false" class="btn-warning">
          <ng-template class="btn-warning" ngbPaginationNumber let-p>{{ GetPageSymbol(p) }}</ng-template>
        </ngb-pagination>
      </div>

      <div class="block text-center">
        <h3 class="filter">теги</h3>
      </div>
      <!-- 
      <div class="form-group">
        <input class="form-control" id="myInput" type="text" style="color: #B67800; opacity: 0.7;"
          placeholder="Найти тег" disabled>
      </div>

      <div class="block text-left">
        <h4>популярные: </h4>
      </div> -->

      <div class="container">
        <div class="row">
          <div *ngFor="let tag of tags" class="block" style="margin: 0.3em; ">
            <button id="{{tag.uid}}" type="button" triggers="mouseenter:mouseleave" ngbPopover="{{tag.title}}"
              class="btn btn-sm" (click)="selectTag(tag)"
              style="font-size: 11px; text-transform: uppercase;">{{tag.title_ru}}</button>
          </div>
        </div>
      </div>

      <div *ngIf="selectedTags.length > 0" class="block text-left" style="margin-top: 0.5em;">
        <h4>выбранные: </h4>
      </div>

      <div class="container">
        <div class="row">
          <div *ngFor="let tag of selectedTags" class="block" style="margin: 0.3em; ">
            <button id="{{tag.uid}}" type="button" triggers="mouseenter:mouseleave" ngbPopover="{{tag.title}}"
              class="btn btn-sm" (click)="delTag(tag)"
              style="font-size: 11px; text-transform: uppercase;">{{tag.title_ru}} <i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>

      <!-- <div class="block text-center">
        <h3 class="filter">время</h3>
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <h4 style="margin-right: 1em;">от:</h4>
          <input disabled type="text" class="form-control"
            style="width: 60px; margin-right: 0.5em; font-size: 14px; color: #B67800; opacity: 0.7;" placeholder="12">
          <select disabled class="form-control" style="width: 70px; font-size: 14px;">
            <option>ч</option>
            <option>сут</option>
          </select>
        </div>
      </div>

      <br>

      <div class="container">
        <div class="row justify-content-center">
          <h4 style="margin-right: 1em;">до:</h4>
          <input disabled type="text" class="form-control"
            style="width: 60px; margin-right: 0.5em; font-size: 14px; color: #B67800; opacity: 0.7;" placeholder="12">
          <select disabled class="form-control" style="width: 70px; font-size: 14px; color: #B67800;">
            <option>ч</option>
            <option>сут</option>
          </select>
        </div>
      </div>

      <br> -->
      <br>
      <div class="block text-center">
        <button type="button" (click)="setFilter()" class="btn btn-info">Применить</button>
      </div>
    </form>

    <!-- <div class="block card col-8 col-md-4  col-lg-4">
      <h4 class="class text-center">маршрут</h4>
      <h2 class="title text-center">гастротур</h2>
      <h3 class="city text-center">Екатеринбург</h3>
      <br>
      <h4 class="time text-center">4 часа</h4>



      <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel"
        style="margin-bottom: 2em; margin-top: 2em;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid" src="assets/gastro1.jpg" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="assets/gastro2.jpg" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="assets/gastro3.jpg" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Следующий</span>
        </a>
      </div>

      <h3 class="description text-center">
        Самые вкусные заведения города, которые можно посетить на завтрак, обед и ужин
      </h3>
      <br>
      <button type="button" class="btn btn-info" onClick='location.href="/place"'>Подробнее</button>

    </div>

    <div class="block card col-8 col-md-4  col-lg-4">
      <h4 class="class text-center">место</h4>
      <h2 class="title text-center">парк</h2>
      <h3 class="city text-center">Екатеринбург</h3>
      <h4 class="city text-center">ул. 8 марта, 13</h4>
      <h4 class="time text-center">4 часа</h4>


      <div id="carousel1" class="carousel slide carousel-fade" data-ride="carousel"
        style="margin-bottom: 2em; margin-top: 2em;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid" src="assets/park1.jpg" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="assets/park2.jpg" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="assets/park3.jpg" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Следующий</span>
        </a>
      </div>

      <h3 class="description text-center">
        Красивый, уютный, чистый парк. Отлично подойдет для прогулок с детьми или животными
      </h3>
      <br>
      <button type="button" class="btn btn-info" onClick='location.href="/place"'>Подробнее</button>

    </div> -->

    <div class="block col-12 col-md-8 col-lg-9">
      <loader *ngIf="loading"></loader>
      <div class="card-columns ">
        <ng-container *ngIf="!loading">
          <ng-container *ngFor="let place of places">
            <place-block style="display: contents;" [place]="place"></place-block>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="pages * counts" [maxSize]="10"
      [rotate]="true" [boundaryLinks]="true" [(page)]="page" [pageSize]="counts" (pageChange)="pageChange($event)">
    </ngb-pagination>
  </div>
</div>