.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color:#B67800!important;
  }
form{
    margin-bottom: 2em;
}

.filter{
    margin-top: 0.5em;
    margin-bottom: 1em;
}

label{
    opacity: 0.7;
    color: #B67800;
    text-transform: uppercase;
    font-size: 14px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    opacity: 0.5;
    color: #B67800;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    opacity: 0.5;
    color: #B67800;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    opacity: 0.5;
    color: #B67800;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    opacity: 0.5;
    color: #B67800;
}

select{
    color: #B67800;
    opacity: 0.7;
}

.card{
    background-color: rgba($color: #FEFAEE, $alpha: 0.5) ;
    border-color: rgba($color: #B67800, $alpha: .15);
    border-radius: 5px;
    padding: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

h2{
    color: #B67800;   
}

//слайдер
.item-responsive {
    position: relative; /* относительное позиционирование */
}
.item-responsive:before {
    display: block; /* отображать элемент как блок */
    content: ""; /* содержимое псевдоэлемента */
    width: 100%; /* ширина элемента */
}
.item-16by9 {
    padding-top: 56.25%; /* (9:16)*100% */
}
.item-responsive>.content {
    position: absolute; /* абсолютное положение элемент */
    /* положение элемента */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover !important;
}  



  .description {
    text-transform: none;
    line-height:150%;
  }


  /* 2 колонки на sm */
  @media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 1;
        column-count: 1
    }
}
/* 3 колонки на md */
@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 1;
        column-count: 1
    }
}
/* 4 колонки на lg и xl */
@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2
    }
}