<div class="card text-center">
    <div class="row justify-content-center">
        <div class="col-auto">
            <ngb-rating class="text-warning" [(rate)]="place.average_rate" [readonly]="true"></ngb-rating>
        </div>
        <div class="offset-1" style="color:darkgray">{{place.rating_count}}</div>
    </div>
    <br>

    <h4 *ngIf="place.city != null" class="class text-center">Маршрут</h4>
    <h4 *ngIf="place.city == null" class="class text-center">Место</h4>
    <h2 class="title text-center">{{place.title}}</h2>
    <h3 *ngIf="place.city != null" class="city text-center">{{place.city}}</h3>
    <h3 *ngIf="place.city == null" class="city text-center"><b> Адрес:</b> {{place.address}}</h3>
    <h4 *ngIf="place.passage_time != null" class="time text-center">{{place.passage_time}} ч</h4>
    <!-- <h4 class="time text-center">мест: 3</h4> -->

    <!--  СЛАЙДЕР маршрут -->

    <div attr.id="carousel_{{place.uid}}" class="carousel slide carousel-fade" data-ride="carousel"
        style="margin-bottom: 2em; margin-top: 2em;">
        <div *ngIf="place.photos.length > 0" class="carousel-inner">
            <div class="carousel-item" *ngFor="let photo of place.photos; let i = index" attr.name="{{i}}">
                <img *ngIf="photo != ''" class="img-fluid cover" src="{{photo}}">
                <img *ngIf="photo == ''" class="img-fluid cover" src="assets/no-photography.jpg">
            </div>
        </div>
        <!-- Элементы управления -->
        <a class="carousel-control-prev" attr.href="#carousel_{{place.uid}}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" attr.href="#carousel_{{place.uid}}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>

    <h4 class="description text-left">{{place.description}}</h4>

    <div class="row" *ngIf="tags.size > 0">
        <div *ngFor="let tag of place.tags" class="col-auto">
            <button id="{{tag}}_place_{{place.uid}}" type="button" triggers="mouseenter:mouseleave"
                ngbPopover="{{tags.get(tag).title}}" class="btn btn-sm"
                style="font-size: 11px; text-transform: uppercase;">{{tags.get(tag).title_ru}}</button>
        </div>
    </div>

    <button type="button" class="btn btn-link text-info" (click)="detailed(place.uid)">Подробнее</button>
</div>