h2{
    color: #B67800;   
}

.description {
    text-transform: none;
    line-height:150%;
  }

  .card{
    // background-color: rgba($color: #FEFAEE, $alpha: 0.7) ;
    box-shadow: 0 0 1em rgba($color: #333333, $alpha: 0.1);
    border-color: rgba($color: #B67800, $alpha: .0);

    border-radius: 5px;
    padding: 2em;
    margin-bottom: 2em;
}

.info{
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    padding: 1em;
}

.cover {
    object-fit: cover;
    width: 400px;
    height: 250px;
  }

h4, .class{
    text-transform: capitalize;
  }
  
h3{
    text-transform: lowercase;
    color:#B67800   ;
}

h3:first-letter{
    text-transform: uppercase;
}

button{
    margin: 1em auto 0em auto;
}

.description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
}