<loader *ngIf="loading"></loader>
<div *ngIf="!loading" class="container">
    <div class="row justify-content-center">
        <div class="block col-8">
            <h2 class="title text-center">СОЗДАНИЕ МЕСТА</h2>
        </div>


        <form [formGroup]="placeForm" class="block col-12 col-md-8 justify-content-center"
            style="margin-top: 2em; margin-bottom: 2em;" (ngSubmit)="createPlace()">
            <div class="block form-group">
                <label for="exampleFormControlTextarea1">Название</label>
                <textarea formControlName="titleInput" class="form-control" id="exampleFormControlTextarea1"
                    rows="1"></textarea>
            </div>

            <div class="block form-group">
                <label for="exampleFormControlTextarea1">Город</label>
                <input id="typeahead-basic" type="text" class="form-control" formControlName="cityInput"
                    [ngbTypeahead]="search" [readonly]="showMap" />
            </div>

            <div class="block form-group ">
                <label for="exampleFormControlTextarea1">Адрес</label>

                <div class="form_radio">
                    <input id="radio-1" type="radio" name="radio" value="1" checked (click)="showmap(false)">
                    <label style="padding-left: 1em; text-transform: none" for="radio-1">Ввести адрес</label>
                    <textarea formControlName="addressInput" class="form-control" id="exampleFormControlTextarea1"
                        rows="1" [readonly]="showMap"></textarea>
                </div>
                <br>
                <div class="form_radio">
                    <input id="radio-2" type="radio" name="radio" value="2" (click)="showmap(true)">
                    <label style="padding-left: 1em; text-transform: none" for="radio-2">Указать на карте</label>
                </div>
            </div>

            <div *ngIf="showMap" class="row justify-content-center">
                <map-block [width]="600" [height]="600" [lat]="latitude" [lng]="longitude" [markers]="markers"
                    (changeArrayOfMarkers)="changeMarkers($event)">
                </map-block>
            </div>

            <div class="block form-group ">
                <label for="exampleFormControlTextarea1">Описание</label>
                <textarea formControlName="describeInput" class="form-control" id="exampleFormControlTextarea1"
                    rows="3"></textarea>
            </div>

            <div class="block form-group ">
                <label for="exampleFormControlTextarea1">Выбрать теги</label>
                <div class="row">
                    <div *ngFor="let tag of tags" class="col-auto">
                        <button id="{{tag.uid}}" type="button" triggers="mouseenter:mouseleave"
                            ngbPopover="{{tag.title}}" class="btn btn-lg" (click)="selectTag(tag)"
                            style="font-size: 11px; text-transform: uppercase;margin-bottom: 0.5em;">{{tag.title_ru}}</button>
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-link" (click)="addNewTag(tagCreation)"
                            >Добавить свой тег</button>
                    </div>
                </div>
            </div>

            <div class="block form-group ">
                <label class="justify-content-left">Добавить фото</label>
                <input-file-block (uploadFile)="uploadFile($event)"></input-file-block>
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-3" *ngFor="let photo of photos">
                    <div class="card">
                        <img src="{{photo}}}" class="card-img-top">
                    </div>
                </div>
            </div>

            <div class="block text-center" style="margin: 0.3em; margin-bottom: 4em;">
                <button type="submit" [disabled]="placeForm.invalid || loadData" class="btn btn-info">
                    СОЗДАТЬ <span *ngIf="loadData" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
</div>

<ng-template #tagCreation let-modal>
    <div class="modal-header">
        <h3 class="modal-title" style="font-weight: bolder;" id="modal-basic-title">Добавление тега</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="tagForm" class="col" novalidate (ngSubmit)="createTag()">
        <div class="modal-body">
            <div class="row">
                <label class="form-label">Название</label>
                <input class="form-control" formControlName="titleInput">
            </div>
            <div class="row">
                <label class="form-label">Название на английском</label>
                <input class="form-control" placeholder="Заполняется по желанию" formControlName="titleEngInput">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" [disabled]="tagForm.invalid || loadingTag" class="btn btn-outline-success">Добавить
                <span *ngIf="loadingTag" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span></button>
        </div>
    </form>
</ng-template>