h2{
    color: #B67800;   
}

label{
    opacity: 0.7;
    color: #B67800;
    font-size: 18px;
    text-transform: uppercase;
}

input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #B67800;
    color: #B67800!important;
}
