.card{
    background-color: rgba($color: #FEFAEE, $alpha: 0.5) ;
    border-color: rgba($color: #B67800, $alpha: .15);
    border-radius: 5px;
}
.card2{
    padding: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.card1{
    padding:  1em 1em 0em 1em;
    margin-bottom: 4em;
}


.cover1 {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-bottom: 0.5em;
  }
.friend{
    margin-bottom: 1em;
}

.tab-pane{
    margin-top: 1em;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {

    background-color: rgba($color: #FEFAEE, $alpha: 0.5) ;
    border-color: #dee2e6 #dee2e6 #fff;
}





h2{
    color: #B67800;   
}


h4, .class{
    text-transform: capitalize;
  }
h3{
    text-transform: lowercase;
    color:#B67800   ;
}

h3:first-letter{
    text-transform: uppercase;
}



