<loader *ngIf="userLoading || userProfileLoading"></loader>

<div class="container" *ngIf="!userLoading && !userProfileLoading">
    <div class="row justify-content-center">

        <div class="card card2 col-12 col-md-9 col-lg-6 text-center">
            <h3 class=" text-center">{{userInfo.firstName}}<br>{{userInfo.lastName}}</h3>
            <div>
                <img class="img-fluid cover1" src="assets/no-photography.jpg">
            </div>
            <h3 class="title text-center">{{userInfo.city.name}}</h3>
            <div class="row justify-content-center">
                <button *ngIf="userProfile.notification!=null&& userProfile.notification" type="button"
                    class="btn btn-warning" [openDelay]="300" triggers="mouseenter:mouseleave"
                    [disabled]="notificationLoading" (click)="notifications()"
                    ngbPopover="При добавлении вашего места в маршрут другого человека на вашу почту придет письмо">
                    Отключить оповещения <span *ngIf="notificationLoading" class="spinner-grow spinner-grow-sm"
                        role="status" aria-hidden="true"></span></button>
                <button [disabled]="userProfile.email == null || notificationLoading"
                    *ngIf="userProfile.notification == null ||!userProfile.notification" type="button"
                    class="btn btn-success" [openDelay]="300" triggers="mouseenter:mouseleave" (click)="notifications()"
                    ngbPopover="При добавлении вашего места в маршрут другого человека на вашу почту придет письмо">
                    Включить оповещения <span *ngIf="notificationLoading" class="spinner-grow spinner-grow-sm"
                        role="status" aria-hidden="true"></span></button>
            </div>
        </div>

        <!-- вкладки с "мои маршруты/места" и "сохраненные места и маршруты" -->
        <div class="col-12" style="margin: 0; padding:0;">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#fav" style="color: #B67800;">Сохраненные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#my" style="color: #B67800;">Созданные</a>
                </li>
            </ul>
        </div>
        <div class="card card1 col-12 ">
            <div class="tab-content" style="margin-bottom: 1em;">
                <!-- сохраненные места и маршруты -->
                <div class="tab-pane fade show active" id="fav">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="block col--12">
                                <div class="card-columns ">
                                    <fav-place [favouritePlaces]="userProfile.favorite_places"
                                        [favouriteRoutes]="userProfile.favorite_routes"></fav-place>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- мои места и маршруты  -->
                <div class="tab-pane fade" id="my">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="block col-12">
                                <div class="card-columns ">
                                    <my-place [myPlaces]="userProfile.created_places"
                                        [myRoutes]="userProfile.created_routes"></my-place>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>