<div class="text-center ">
  <h1>ГОРОД <span class="logo">N</span></h1>
</div>

<div class="block back justify-content-center text-center">
  <h2 style="padding-top: 1em;">Находи новые места, <br>
    составляй маршруты  <br>
    или используй готовые</h2>
</div>

<div class="title text-center ">
  <h1>НАШИ ПРЕИМУЩЕСТВА</h1>
</div>

<div class="container">

  <div class="row">

    <div class="col-12 col-md-4 icon" style="margin-bottom: 2em;">
      <img src="assets/icon1.png" />
      <h3 style="padding-top: 1em;">
        все интересное<br>
        о городе<br>
        в одном месте</h3>
    </div>
    <div class="col-12 col-md-4 icon">
      <img src="assets/icon2.png" />
      <h3 style="padding-top: 1em;">готовые<br>
        маршруты<br>
        в городе</h3>
    </div>
    <div class="col-12 col-md-4 icon">
      <img src="assets/icon3.png" />
      <h3 style="padding-top: 1em;">ВОЗМОЖНОСТЬ<br>
        СОЗДАВАТЬ СВОИ<br>
        МАРШРУТЫ</h3>
    </div>

  </div><!-- End off row -->
</div><!-- End off container -->

<div class="text-center" style="margin-top: 2em; margin-bottom: 4em;">
  <a class="btn btn-primary btn-info btn-lg" href="../search" role="button">Перейти к поиску</a>
</div>