.title {
    margin-top: 3em;
    margin-bottom: 1.5em;
}
.logo{
    font-family: Courier;
}

h2{
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.back {
    // width: 90vw;
    height: 500px;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../../../../assets/home.png);
    margin: auto;
  }

.icon{
    text-align: center;
}



