
body{
    font-family: Open Sans ;
 
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    h1{
        font-size: 36px;
    }
    .logo{
        font-size: 64px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    h1{
        font-size: 24px;
    }
    .logo{
        font-size: 48px;
    }
  }

h1{
    letter-spacing: 0.06em;
    color: #B67800;   
}

h2{
    font-size: 24px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}



h3{
    font-size: 18px;
    text-transform: uppercase;
    color: #B67800;   
    opacity: 0.7;
}

h4{
    font-size: 14px;
    text-transform: uppercase;
    color: #B67800;   
    opacity: 0.7;
}

.page-item.active .page-link {
    background-color: #B67800 !important;
    border-color: #B67800 !important;
}