<agm-map id="map" [latitude]="lat" [zoom]="zoom" [longitude]="lng" (mapClick)="mapClicked($event)"
    (zoomChange)="zoomChanged($event)">
    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
        [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
        <agm-info-window *ngIf="m.title != null">
            <strong>{{m.title}}</strong>
            <div>{{m.info}}</div>
        </agm-info-window>
    </agm-marker>
</agm-map>